:host ::ng-deep .mat-mdc-tab {
  min-width: 60px !important;
}

:host ::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  padding: 3px !important;
}

:host ::ng-deep .items .mat-mdc-tab-header {
  --mat-tab-container-height: 150px;
}

:host ::ng-deep .items .mat-mdc-tab {
  height: 150px !important;
}

:host ::ng-deep .items .mdc-tab__content,
:host ::ng-deep .items .mdc-tab__text-label {
  height: 100%;
}

:host ::ng-deep .items .mdc-tab__text-label {
  display: flex;
  align-items: center;
}

.border td {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.border th {
  background-color: #DDD;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.selected {
  background-color: lightgreen;
}

th.number,
td.number {
  cursor: pointer;
  text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.invalid {
  background-color: #FFCCCC;
}

.ignored {
  background-color: lightgray;
}
